# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Documents
*.md text diff=markdown
*.txt text
*.csv text
*.json text
*.xml text
*.yaml text
*.yml text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Archives
*.zip binary
*.gz binary
*.tar binary
